.sidebar {
  width: 220px;
  background-color: #1b5d7d;
  color: #fff;
  padding: 4rem 2rem 3rem 2rem;
  height: 100vh;

  .logo {
    margin-bottom: 3rem;

    a {
      color: #fff;
      font-size: 2rem;
      font-weight: bold;
      text-decoration: none;
    }
  }

  .balance {
    margin-bottom: 5rem;
    font-weight: bold;

    .balance__text {
      margin-bottom: .2rem;
    }
  }

  .sidebar__items {
    display: flex;
    flex-direction: column;
    margin-bottom: 20rem;
  
    a {
      color: #fff;
      font-size: .8rem;
      font-weight: bold;
      margin-bottom: 1rem;
      text-decoration: none;
    }

    .sidebar_active {
      text-decoration: underline solid #FFD700 .4rem;
    }
  }

  .logout {
    a {
      font-weight: bold;
      color: #fff;
      text-decoration: none;
    }
  }
}